table.banqi-board {
  /*border-collapse:collapse;*/
  border-spacing: 0;
}

.chat {
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  vertical-align: top;
}

.chat-messages {
  max-height: 300px;
  overflow-y: scroll;
}

.chat-message p {
  display: inline;
}

.chat-message {
  margin-top: 5px;
}

.chat-message.auth strong {
  text-decoration: underline;
}

td.banqi-square {
  color: darkslategrey;
  height: 90px;
  width: 90px;
  border: 1px black solid;
  text-align: center;
  font-size: 2em;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}

table.banqi-board th {
  color: darkslategrey;
  text-align: center;
  font-size: 2em;
  vertical-align: middle;
}

td.banqi-square.selected {
  background-color: indianred;
  border: 1px red solid;
}

.banqi-square.last-move {
  background-color: khaki;
}

.game-state-banner .banqi-square {
  height: 45px;
  width: 45px;
  background-size: cover;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

.game-state-banner div.banners h3,
h2 {
  margin: 5px;
  vertical-align: middle;
  text-align: center;
}

.game-state-banner div.headers {
  display: inline-block;
}
.game-state-banner div.headers .game-info-header {
  display: block;
}

.game-state-banner div.headers .turn-indicator {
  font-size: 10pt;
  text-transform: capitalize;
  font-family: arial, helvetica;
}
.game-state-banner div.headers h2 .middle-valign-container {
  display: flex;
  padding: 5pt;
  border: 1px solid gray;
  border-radius: 5px;
}
.game-state-banner div.headers h2 .middle-valign-container div,
.game-state-banner h2 .middle-valign-container span
{
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.game-state-banner h2 {
  display: inline-block;

}

.game-state-banner h3 {
  text-align: center;

}

.lobby .stale-lobby-warning {
  border: 1px solid black;
  display: block;
  background-color: #FFF3C4;
  padding: 10px;
}

.lobby div button {
  margin-top: 10px;
}

li.lobby-game {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  background: cornsilk
}

html:before {
  content: ' ';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url("images/red-cannon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-position: center;
  background-size: 66%
}


html.walrus:before {
  content: ' ';
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  background-image: url("images/walrus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  background-position: center;
  background-size: 33%
}

.dead-pieces {
  height: auto;
}

.dead-pieces .banqi-square {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px;
  display: inline-block;
}

.dead-pieces .banqi-square.dead::before {
  content: "";
  background-color: black;
  opacity: 40%;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
}

.dead-pieces .banqi-square.unborn::before {
  content: "";
  background-color: green;
  opacity: 40%;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
}

.lobby-game .banqi-square {
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.leader-board table {
  border-collapse: collapse;
  border: 1px solid black;
}

.leader-board table thead tr {
  border-bottom: 1px solid black;
}

.leader-board table tbody tr:nth-child(even) {
  background: papayawhip;
}

.leader-board table tbody tr:nth-child(odd) {
  background: seashell;
}

.banqi-square.red-king {
  background-image: url("images/red-king.svg")
}

.banqi-square.red-guard {
  background-image: url("images/red-guard.svg")
}

.banqi-square.red-elephant {
  background-image: url("images/red-elephant.svg")
}

.banqi-square.red-cart {
  background-image: url("images/red-cart.svg")
}

.banqi-square.red-horse {
  background-image: url("images/red-horse.svg")
}

.banqi-square.red-pawn {
  background-image: url("images/red-pawn.svg")
}

.banqi-square.black-king {
  background-image: url("images/black-king.svg")
}

.banqi-square.black-guard {
  background-image: url("images/black-guard.svg")
}

.banqi-square.black-elephant {
  background-image: url("images/black-elephant.svg")
}

.banqi-square.black-cart {
  background-image: url("images/black-cart.svg")
}

.banqi-square.black-horse {
  background-image: url("images/black-horse.svg")
}

.banqi-square.black-pawn {
  background-image: url("images/black-pawn.svg")
}

.banqi-square.unflipped-piece {
  background-image: url("images/unflipped-piece.svg")
}

.banqi-square.red-cannon {
  background-image: url("images/red-cannon.svg")
}

.banqi-square.black-cannon {
  background-image: url("images/black-cannon.svg")
}

button.reset-button {
  display: block
}

#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}