{
  "DbConfig" : {
    "driver" : "postgres",
    "connectionString" : "user=myUser password=myPassword sslmode=disable dbname=myDb"
  },
  "AuthConfig" : {
    "encryptionKey" : "foo-bar-baz-blat"
  }
}
